body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    opacity: 94%;
    padding: 30px;
    color: #333;
    background-image: url('./img/banner.jpg');
    background-position: center;
    background-size: cover;
}

.app {
    max-width: 600px;
    margin: 0 auto 300px;
    background-color: #efefef;
    padding: 20px 30px;
    border-radius: 10px
}

h1 {
    text-align: center;
    color: #333974;
}

h2 {
    margin-bottom: 10px;
    color: #333974;
}

p {
    margin: 10px 0;
}

input {
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 100px
}

button {
    background-color: #333974;
    color: #fff;
    padding: 5px 10px;
    margin: 2px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8s;
    transition: 0.3s;
    flex-direction:column;
    
}

button:hover {
    opacity: 1;
}

.remove {
    background-color: #D9534f;
    min-width: 60px;
    min-height: 10px;
}

.edit {
    background-color: #5cb85c;
    min-width: 60px;
    min-height: 10px;
    display: flex;
    justify-content:flex-end;
}

.cad {
    display: flex;
    justify-content: flex-end;
}


.form-cadastro {
    display: flex;
    justify-content:space-between;
    padding:10px;
    border-radius: 3px;
    box-shadow:
  1px 1px #838282,
  0em 0 0.2em #333974;
  
}

.titulo-cad {
    text-align: center;
}

.resp {
    display:flex;
    justify-content: flex-end;
}

label {
    font-weight: bold;
   margin-bottom: 140px;
   color: #333974;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
}

button.dialog--button.dialog--button-confirm {
    background-color: 'red' !important;
}